{% extends "base.html" %}
{% block start %}

<div class="container mt-5">  <!-- entype is there as it allows to upload an image from frontend to backend-->

<form class="col 6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}  <!-- this has to written to avoid cors error-->
    <h2>Add Receipe</h2>
    <hr>
    <div class="mb-3">
      <label for="Receipe" class="form-label">Receipe Name</label>
      <input name="name" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Receipe Description</label>
        <textarea name="description" class="form-control" required></textarea>
    </div>
    <div class="mb-3">
        <label for="Image" class="form-label">Receipe Image</label>
        <input name="image" type="file" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Add Receipe</button>
  </form>
  <hr>

</div>
<div class="container mt-5">
  <div class="row">
    {% for receipe in allreceipes %}
    <div class="col-md-4 mb-4 d-flex align-items-stretch">
      <div class="card" style="width: 100%;">
        <img src="/media/{{ receipe.image }}" class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ receipe.name }}</h5>
          <p class="card-text" style="flex-grow: 1; overflow-y: auto; max-height: 100px;">{{ receipe.description }}</p>
          <div class="mt-auto d-flex justify-content-between">
            <a href="/delete-receipe/{{ receipe.id }}" class="btn btn-danger me-2">
              <i class="fas fa-trash-alt"></i> 
            </a>
            <a href="/update-receipe/{{ receipe.id }}" class="btn btn-primary">
              <i class="fas fa-edit"></i> 
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>




    

{% endblock %}