{% extends "base.html" %}
{% block start %}

<div class="container mt-5">  <!-- entype is there as it allows to upload an image from frontend to backend-->
<form class="col 6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}  <!-- this has to written to avoid cors error-->
    <h2>Add Receipe</h2>
    <hr>
    <div class="mb-3">
      <label for="Receipe" class="form-label">Receipe Name</label>
      <input name="name" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Receipe Description</label>
        <textarea name="description" class="form-control" required></textarea>
    </div>
    <div class="mb-3">
        <label for="Image" class="form-label">Receipe Image</label>
        <input name="image" type="file" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Add Receipe</button>
  </form>
</div>
    <div class="container mt-5 d-flex p-6" >
      <!-- {{allreceipes}} -->
       {% for receipe in allreceipes %}
       <div class="card" style="width: 18rem;">
        <img src="/media/{{ receipe.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ receipe.name }}</h5>
          <p class="card-text">{{ receipe.description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    

{% endblock %}